*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.flex-container {
    border-collapse: collapse;
    padding:10px;
    margin:20px;
}

.content-table{
    display: flex;
    justify-content: center;
}

#mtable{
    table-layout: fixed; // ***********add this
}

// .flex-container {
//     display: flex;
// }

// .flex-child {
//     flex: 1;
//     border: 2px solid yellow;
// }

// .flex-child:first-child {
//     margin-right: 20px;
// }


//search box
#mtable_filter input {
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

//header
#mtable thead tr th {
    font-size:0.1em;
    text-align: left;
    padding-top: 10px; padding-bottom: 10px ;
}

//sorting header
#mtable thead th.sorting {
    font-size:0.1em;
    vertical-align: middle;
    z-index:0;
    white-space: nowrap;
}

.name_col{
    text-align: left;
}

.team_col{
    text-align: left;
}

.position_col{
    text-align: left;
}

.stats_col{
}

table.dataTable tbody tr.odd.active {
    background-color:#acbad4
   }

table.dataTable tbody tr.even.active {
    background-color:#acbad5
   }

//make transparent when clicking
#mtable.dataTable tbody tr.odd.active td{
    background-color: transparent;
}
#mtable.dataTable tbody tr.even.active td{
    background-color: transparent;
}



#mtable.dataTable tbody tr td.y1_points_col,
#mtable.dataTable tbody tr td.y2_points_col,
#mtable.dataTable tbody tr td.y3_points_col {
    background-color: #fdc500;
}

#mtable.dataTable tbody tr td.y1_rank_col,
#mtable.dataTable tbody tr td.y2_rank_col,
#mtable.dataTable tbody tr td.y3_rank_col {
    background-color: #ffd500;
}

#mtable.dataTable tbody tr td.y1_average_col,
#mtable.dataTable tbody tr td.y2_average_col,
#mtable.dataTable tbody tr td.y3_average_col {
    background-color: #fdc500;
}

#mtable.dataTable tbody tr td.y1_games_col,
#mtable.dataTable tbody tr td.y2_games_col,
#mtable.dataTable tbody tr td.y3_games_col {
    background-color: #ffd500;
}

#mtable.dataTable tbody tr td.y1_price_col,
#mtable.dataTable tbody tr td.y2_price_col,
#mtable.dataTable tbody tr td.y3_price_col {
    background-color: #fdc500;
}


#mtable_filter { //search bar appearance
    float: left;
    padding-left: 50px;
    font-size: 0.2em;
}

#mtable_length { //show how many data
    float: left;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.2em;
}

#mtable_info { //show x of total data
    font-size: 0.2em;
}

#mtable_paginate { //pagination
    float: left;
    font-size: 0.2em;
}

//data
#mtable tbody tr td {
    font-size:0.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    cursor: pointer;
}

// selectable list
.form-control.my-1 {
    font-size:0.2em;
}

//remove sorting icon
#mtable.dataTable > thead > tr > th[class*="sort"]:after,
#mtable.dataTable > thead > tr > th[class*="sort"]:before
{
    content: "";
}

.sidebar{
    position:fixed;
    top:0;
    right:0;
    width:80px;
    height:100%;
    background-color: #00509d;
    padding: 6px 14px;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 1;
}

.sidebar.open{
    width: 800px;
}

.sidebar .logo_details .logo_name {
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center;
    opacity:0
}

.sidebar.open .logo_details .logo_name{
    opacity: 1;
}


.sidebar #btn{
    position: sticky;
    color:rgb(0, 0, 0);
    font-size: 30px;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 75px;
    transform: translateX(-15%);
    cursor: pointer;
}

.sidebar #stable{
    margin-top: 50px;
}

.sidebar .logo_details{
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar .logo_details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    opacity:0;
    transition: all 0.5s ease;
}

.sidebar.open .logo_details .logo_name{
    opacity: 1;
}

.sidebar #stable thead tr th {
    font-size:0.1em;
    vertical-align: middle;
    white-space: nowrap;
    opacity:0
}

.sidebar.open #stable thead tr th {
    font-size:0.1em;
    vertical-align: middle;
    white-space: nowrap;
    opacity:1
}

#stable tbody tr td.s_data{
    font-size:0.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    opacity:0;
}

#stable tbody tr td.s_img{
    font-size:0.1em;
    opacity:1;
}

.sidebar.open #stable tbody tr td.s_data {
    font-size:0.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    opacity:1;
}




@import "./node_modules/bootstrap/scss/bootstrap";