.content-table {
    border-collapse:collapse;
    overflow:hidden;
}

//search box
#mtable_filter input {
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

//header
.content-table thead tr th {
    font-size:0.1em;
    text-align: left;
    padding-top: 10px; padding-bottom: 10px ;
}

//sorting header
#mtable.content-table thead th.sorting {
    font-size:0.1em;
    vertical-align: middle;
}

.name_col{
    text-align: left;
}

.team_col{
    text-align: left;
}

.position_col{
    text-align: left;
}

.stats_col{
}

table.dataTable tbody tr.odd.active {
    background-color:#acbad4 !important
   }

table.dataTable tbody tr.even.active {
    background-color:#acbad5 !important
   }

//make transparent when clicking
#mtable.dataTable tbody tr.odd.active td{
    background-color: transparent;
}
#mtable.dataTable tbody tr.even.active td{
    background-color: transparent;
}



#mtable.dataTable tbody tr td.y1_points_col,
#mtable.dataTable tbody tr td.y2_points_col,
#mtable.dataTable tbody tr td.y3_points_col {
    background-color: #fffaf0;
}

#mtable.dataTable tbody tr td.y1_rank_col,
#mtable.dataTable tbody tr td.y2_rank_col,
#mtable.dataTable tbody tr td.y3_rank_col {
    background-color: #fdf5e6;
}

#mtable.dataTable tbody tr td.y1_average_col,
#mtable.dataTable tbody tr td.y2_average_col,
#mtable.dataTable tbody tr td.y3_average_col {
    background-color: #fffaf0;
}

#mtable.dataTable tbody tr td.y1_games_col,
#mtable.dataTable tbody tr td.y2_games_col,
#mtable.dataTable tbody tr td.y3_games_col {
    background-color: #fdf5e6;
}

#mtable.dataTable tbody tr td.y1_price_col,
#mtable.dataTable tbody tr td.y2_price_col,
#mtable.dataTable tbody tr td.y3_price_col {
    background-color: #fffaf0;
}


#mtable_filter { //search bar appearance
    float: left;
    padding-left: 50px;
    font-size: 0.2em;
}

#mtable_length { //show how many data
    float: left;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.2em;
}

#mtable_info { //show x of total data
    font-size: 0.2em;
}

#mtable_paginate { //pagination
    float: left;
    font-size: 0.2em;
}

//data
.content-table tbody tr td {
    font-size:0.1em;
}

// selectable list
.form-control.my-1 {
    font-size:0.2em;
}

//remove sorting icon
.dataTable > thead > tr > th[class*="sort"]:after,
.dataTable > thead > tr > th[class*="sort"]:before
{
    content: "" !important;
}



@import "./node_modules/bootstrap/scss/bootstrap";