*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    padding:10px;
}

.main_section {
    border: 5px solid yellow;
    display: flex;
    flex-wrap: wrap;
  }

.data_section {
    border: 5px solid red;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
  }

.main_table {
    border: 5px solid green;
    margin-right:70px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;
  }

#mtable{
    table-layout: fixed; // ***********add this
}

//search box
#mtable_filter input {
    border-radius: 10px;
    width: 300px;
    height: 40px;
}

//header
#mtable thead tr th {
    font-size:0.1em;
    text-align: left;
    padding-top: 10px; padding-bottom: 10px ;
}

//sorting header
#mtable thead th.sorting {
    font-size:0.1em;
    vertical-align: middle;
    z-index:0;
    white-space: nowrap;
}

.name_col{
    text-align: left;
}

.team_col{
    text-align: left;
}

.position_col{
    text-align: left;
}


table.dataTable tbody tr.odd.active {
    background-color:#acbad4
   }

table.dataTable tbody tr.even.active {
    background-color:#acbad5
   }

//make transparent when clicking
#mtable.dataTable tbody tr.odd.active td{
    background-color: transparent;
}
#mtable.dataTable tbody tr.even.active td{
    background-color: transparent;
}



#mtable.dataTable tbody tr td.y1_points_col,
#mtable.dataTable tbody tr td.y2_points_col,
#mtable.dataTable tbody tr td.y3_points_col {
    background-color: #f4a261;
}

#mtable.dataTable tbody tr td.y1_rank_col,
#mtable.dataTable tbody tr td.y2_rank_col,
#mtable.dataTable tbody tr td.y3_rank_col {
    background-color: #e9c46a;
}

#mtable.dataTable tbody tr td.y1_average_col,
#mtable.dataTable tbody tr td.y2_average_col,
#mtable.dataTable tbody tr td.y3_average_col {
    background-color: #f4a261;
}

#mtable.dataTable tbody tr td.y1_games_col,
#mtable.dataTable tbody tr td.y2_games_col,
#mtable.dataTable tbody tr td.y3_games_col {
    background-color: #e9c46a;
}

#mtable.dataTable tbody tr td.y1_price_col,
#mtable.dataTable tbody tr td.y2_price_col,
#mtable.dataTable tbody tr td.y3_price_col {
    background-color: #f4a261;
}


#mtable_filter { //search bar appearance
    float: left;
    padding-left: 50px;
    font-size: 0.2em;
}

#mtable_length { //show how many data
    float: left;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.2em;
}

#mtable_info { //show x of total data
    font-size: 0.2em;
}

#mtable_paginate { //pagination
    float: left;
    font-size: 0.2em;
}

//data
#mtable tbody tr td {
    font-size:0.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    cursor: pointer;
}

// selectable list
.form-control.my-1 {
    font-size:0.2em;
}

//remove sorting icon
#mtable.dataTable > thead > tr > th[class*="sort"]:after,
#mtable.dataTable > thead > tr > th[class*="sort"]:before
{
    content: "";
}

.sidebar{
    position:fixed;
    top:0;
    right:0;
    width:80px;
    height:100%;
    background-color: #264653;
    padding: 6px 14px;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 1;
}

.sidebar.open{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.sidebar .logo_details{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar .logo_details .logo_name {
    height: 100%;
    width: 300px;
    color: #fff;
    font-size: 10px;
    margin: 20px 30px;
    opacity: 0;
    display: flex;
    justify-content: space-between;
}

.sidebar.open .logo_details .logo_name{
    height: 100%;
    width: 300px;
    color: #fff;
    transition: all 0.5s ease;
    font-size: 10px;
    margin: 20px 30px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

.sidebar.open .logo_details .logo_name .logo_points,
.sidebar.open .logo_details .logo_name .logo_lastyear{
    font-size: 20px;
    padding-bottom: 10px;
    width:90px;
}

.sidebar.open .logo_details .logo_name .logo_price{
    font-size: 20px;
    padding-bottom: 10px;
    width: 75px;
}


.sidebar #btn{
    position: sticky;
    color:#fff;
    font-size: 30px;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 75px;
    transform: translateX(-15%);
    cursor: pointer;
}

.sidebar .selected_table{
    margin-top:15px;
}

.sidebar.open .selected_table{
    margin-top:10px;
    border: 5px solid #2a9d8f;
    border-radius: 10px;
}

.sidebar .selected_table #stable{
    color:#fff;

}

.sidebar.open .selected_table #stable{
    table-layout: fixed;
}

.sidebar #stable thead tr{
    background-color: inherit;
}

.sidebar.open #stable thead tr{
    background-color: #2a9d8f;
}

.sidebar #stable thead tr th,
.sidebar #stable tbody tr td,
.sidebar #stable tfoot tr td {
    font-size:0.1em;
    vertical-align: middle;
    white-space: nowrap;
    opacity:0;
    border: 0;
}

.sidebar.open #stable thead tr th,
.sidebar #stable tbody tr td,
.sidebar.open #stable tfoot tr td {
    font-size:0.1em;
    vertical-align: middle;
    white-space: nowrap;
    opacity:1;
    border: 0;
}

#stable tbody tr.selected{
    background: linear-gradient(#264653 97%, #2a9d8f);
}

#stable tbody tr td.s_data{
    font-size:0.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    opacity:0;
    cursor: pointer;
}


.sidebar #stable tbody tr td.s_img{
    font-size:0.1em;
    text-align: center;
    opacity:1;
}

//data in opened sidebar
.sidebar.open #stable tbody tr td.s_data {
    font-size:0.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    opacity:1;
}

//footer in unopened sidebar
.sidebar #stable tfoot tr {
    font-size:0.1em;
    opacity:0;
}

.sidebar.open #stable tfoot tr {
    font-size:0.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    opacity:1;
}

@import "./node_modules/bootstrap/scss/bootstrap";