{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Andrew's NBA Fantasy Cheatsheet</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">







</head>

<body>
    <div class='content'>
        <div class='container-fluid mt-2 mb-2'>
            <div class=>
                <table id="mtable" class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>{{ y1.season}}</th>
                            <th>{{ y2.season}}</th>
                            <th>{{ y3.season}}</th>
                            <th>{{ y1.season}}</th>
                            <th>{{ y2.season}}</th>
                            <th>{{ y3.season}}</th>
                            <th>{{ y1.season}}</th>
                            <th>{{ y2.season}}</th>
                            <th>{{ y3.season}}</th>
                            <th>{{ y1.season}}</th>
                            <th>{{ y2.season}}</th>
                            <th>{{ y3.season}}</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>{{ y1.season}}</th>
                            <th>{{ y2.season}}</th>
                            <th>{{ y3.season}}</th>
                            <th>{{ y1.season}}</th>
                            <th>{{ y2.season}}</th>
                            <th>{{ y3.season}}</th>
                            <th>{{ y1.season}}</th>
                            <th>{{ y2.season}}</th>
                            <th>{{ y3.season}}</th>
                            <th>{{ y1.season}}</th>
                            <th>{{ y2.season}}</th>
                            <th>{{ y3.season}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>